# Core Flask and Extensions
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
flask-socketio
marshmallow==3.21.2

# Database and ORM
SQLAlchemy
SQLAlchemy-Utils
psycopg2-binary

# Authentication and Web Security
PyJWT
pyjwt-rsa


# Configuration and Utilities
PyYAML
rgwadmin
paramiko
gevent-websocket
simple-websocket

# Testing
pytest
pytest-cov

# AWS-related
boto3


# Web Servers and Networking
gunicorn==23.0.0                   #Frozen version at the time of release


# Websocket server
Flask-SocketIO==5.3.4
requests
prometheus_client==0.16.0
websockets
eventlet==0.40.3

# Access Control
flask-rbac-icdc
factory_boy
