roles:
  operator:
    accounts:
      permissions:
        - list
        - create
        - update
        - delete
        - get
      filters: {}
    iscsi.limits:
      permissions:
        - list
        - create
        - update
        - delete
      filters: {}
    s3.limits:
      permissions:
        - list
      filters: {}
    s3.quotas:
      permissions:
        - list
        - create
        - update
        - delete
      filters: {}
    s3.users:
      permissions:
        - list
        - create
        - get
        - update
        - delete
      filters: {}
    s3.users.key:
      permissions:
        - create
      filters: {}
    s3.buckets:
      permissions:
        - list
        - create
        - update
        - delete
      filters: {}
    iscsi.quotas:
      permissions:
        - list
        - create
        - update
        - delete
      filters: {}

  admin:
    s3.quotas:
      permissions:
        - list
        - create
        - update
        - delete
      filters:
        account_id: account_id
        name: account_name
    s3.users:
      permissions:
        - list
        - get
        - create
        - update
        - delete
      filters:
        account_id: account_id
    s3.users.key:
      permissions:
        - create
      filters:
        account_id: account_id
    s3.buckets:
      permissions:
        - list
        - create
        - update
        - delete
      filters:
        account_id: account_id
    iscsi.quotas:
      permissions:
        - list
        - create
        - update
        - delete
      filters:
        account_id: account_id
        name: account_name


  owner:
    s3.quotas:
      permissions:
        - list
        - create
        - update
        - delete
      filters:
        account_id: account_id
        name: account_name
    s3.users:
      permissions:
        - list
        - get
        - create
        - update
        - delete
      filters:
        account_id: account_id
    s3.users.key:
      permissions:
        - create
      filters:
        account_id: account_id
    s3.buckets:
      permissions:
        - list
        - create
        - update
        - delete
      filters:
        account_id: account_id
    iscsi.quotas:
      permissions:
        - list
        - create
        - update
        - delete
      filters:
        account_id: account_id
        name: account_name

  member:
    s3.quotas:
      permissions:
        - list
      filters:
        account_id: account_id
    s3.users:
      permissions:
        - list
        - get
        - create
        - update
        - delete
      filters:
        account_id: account_id
        owner: owner
    s3.users.key:
      permissions:
        - create
      filters:
        account_id: account_id
        owner: owner
    s3.buckets:
      permissions:
        - list
        - create
        - update
        - delete
      filters:
        account_id: account_id
        owner: owner
    iscsi.quotas:
      permissions:
        - list
      filters:
        account_id: account_id

